
//== Scaffolding
//
//## Settings for some of the most global styles.

// Background color for `<body>`.
$body-bg:				 $white-base;
// Global text color on `<body>`.
$text-color:			#7d8289;

// Global textual link color.
$link-color:			#0073aa;
// Link hover color set via `darken()` function.
$link-hover-color:		darken($link-color, 15%);
// Link hover decoration.
$link-hover-decoration: none;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-current-theme1:			'Quicksand', sans-serif;
$font-current-theme2:			'Poppins', sans-serif;


$body-font:				$font-current-theme1;
$heading-font:			$font-current-theme1;
$heading-smaller-font:	$font-current-theme1;



//== Body
$font-size-base:				1rem; // Assumes the browser default, typically `16px`
$body-font-size:				$font-size-base * 1.1;
$body-font-weight:				500;
$line-height-base:			 	2;
$line-height-widget-li:			2.5rem;



//== Headings
//typo
$headings-color: 				#20354f;
$headings-font-family: 			$heading-font;
$headings-line-height: 			1.4;
$headings-line-height-smaller:	1.4;

//size
$h1-font-size:          $font-size-base * 3.5;
$h1-font-size-mob:      $font-size-base * 2.5;
$h2-font-size:          $font-size-base * 3.125;
$h2-font-size-mob:      $font-size-base * 2.5;
$h3-font-size:          $font-size-base * 1.9;
$h4-font-size:          $font-size-base * 1.6;
$h5-font-size:          $font-size-base * 1.3;
$h6-font-size:          $font-size-base * 1.1;


//weight
$headings-font-weight-h1:	700;
$headings-font-weight-h2:	700;
$headings-font-weight-h3:	700;
$headings-font-weight-h4:	700;
$headings-font-weight-h5:	700;
$headings-font-weight-h6:	700;


//== news archive,sidebar title
$archive-news-title-font-size:      1.60rem;
$sidebar-title-font-size:      1.30rem;


//nav
$headings-nav-side-icons-color: 	#888;



//== section title
$section-title-font-size:         $h2-font-size;
$section-title-font-family:       $heading-font;
$section-title-font-weight:       $headings-font-weight-h2;

$section-title-subtitle-color:			#868686;
$section-title-subtitle-font-size:		$h6-font-size;
$section-title-subtitle-font-family:	$heading-font;
$section-title-subtitle-font-weight:	$headings-font-weight-h6;

$section-title-para-font-size:      $body-font-size;
